{% load static %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/custom.css"  />
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {% load leaflet_tags %}
    {% load crispy_forms_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Dragonfly</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Strona glowna</a></li>
                <li><a href="#about">Kartoteka</a></li>
                <li><a href="#contact">Profil</a></li>
                <li><a href="#contact">Pomoc</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template">
        {% bootstrap_messages %}
        <h1>Uzupełnij szczegóły nowego rekordu:</h1>
        <br>
        <div class="col-sm-8 col-md-5">
        <form id='record_form' method='POST' action="{% url 'records:addRecord' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
        <input class='btn btn-primary' type='submit' value='Dodaj' />
        <script>
            var marker_lat;
            var marker_lng;

            function map_init_basic(mapa, options) {
                marker = new L.marker([50.7, 23.28], {
                    draggable: true
                });
                mapa.addLayer(marker);
                mapa.on('click', onMapClick);

                function onMapClick(e) {
                    //console.log(e.latlng.toString());
                    //document.getElementById("id_place").value = e.latlng.lat.toFixed(2);
                    mapa.removeLayer(marker);
                    marker = new L.marker(e.latlng, {
                        draggable: true
                    });
                    mapa.addLayer(marker);
                    mapa.panTo(e.latlng);
                    marker_lat=e.latlng.lat.toFixed(2);
                    marker_lng=e.latlng.lng.toFixed(2);
                    console.log(marker_lat, marker_lng); //marker_position.toString()
                }

                marker.on('dragend', function(event) {
                    mark = event.target;
                    var position = mark.getLatLng();
                    marker.setLatLng(new L.LatLng(position.lat, position.lng), {
                        draggable: true
                    });
                    mapa.panTo(new L.LatLng(position.lat.to, position.lng));
                    console.log(position.toString()) //FIXME: nie dziala prawidlowo po pierwszym utworzeniu nowego markera i probie jego dragowania
                    });

            };

            $('#record_form').on('submit', function(event){
                event.preventDefault();
                create_record()
            })

            function create_record() {
                var data = $("#record_form").serializeArray();
                data.push({name : "marker_lat",value : marker_lat},{name : "marker_lng", value : marker_lng});
                $.ajax({
                    url : "{% url 'records:addRecord' %}",
                    method : "POST",
                    data : data,

                    success: function(response){
                        $("#container").html(response); #rozwiązanie toporne, lepiej podmienić tylko div z contentem
                    },

                    error : function(xhr,errormsg,err){
                        console.log(xhr.status + ": " + xhr.responseText);
                    },
                });
            }

        </script>
        {% leaflet_map "mapa" callback="window.map_init_basic"%}
        </form>
        </div>
    </div>
        {{ form.media }}
    </div>
  </body>
</html>
