{% load static %}
{% load leaflet_tags %}

<!DOCTYPE HTML>
<html>

<head>
    <title> Dragonfly </title>
    <!-- tutaj wstawimy zmienną django zawierającą stałą z nazwą serwisu, aby moc potem w latwy sposob podmieniac nazwe w wersjach wielojezykowych -->
    <meta name="description" content="website description" />
    <!-- zmienna django -->
    <meta name="keywords" content="website keywords, website keywords" />
    <!-- zmienna django -->
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <!-- zmienna django -->
    <link rel="stylesheet" type="text/css" href="/static/style.css" /> {% leaflet_js %} {% leaflet_css %}
</head>

<body>
    <div id="main">
        <!-- sekcja naglowkowa -->
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1><a href="{% url 'homepage' %">Dragon<span class="logo_colour">fly</span></a></h1>
                    <h2>Kartoteka obserwacji przyrodniczych.</h2>
                </div>
            </div>
            <div id="menubar">
                <ul id="menu">
                    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                    <li><a href="{% url 'homepage'%}">Strona glowna</a></li>
                    <li class="selected"><a href="{% url 'records:homeRecords' %}">Kartoteka</a></li>
                    <li><a href="">Ustawienia</a></li>
                    <!-- link do ustawien profilu uzytkownika -->
                    <li><a href="{% url 'admin:index' %}">Panel administratora</a></li>
                    <li><a href="{% url 'admin:index' %}">Pomoc</a></li>
                    <!-- zmien docelową stronę -->
                </ul>
            </div>
        </div>

        <!-- sekcja glownego contentu -->
        <div id="site_content">

            <!-- sidebar -->

            <div class="sidebar">
                <!-- insert your sidebar items here -->
                <p><a href="{% url 'records:addRecord' %}">Dodaj rekord</a></p>
                <p><a href="{% url 'records:browseRecords' %}">Przeglądaj rekordy</a></p>
            </div>
<div>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
            <!-- main content -->

            <div id="content">
                <!-- insert the page content here -->
                {% if messages %} {% for message in messages %}
                <h2 style="text-align:center">{{ message}}</h2> {% endfor %} {% endif %}
                <h1>Uzupełnij formularz danymi obserwacji</h1>
                <form method="post" action="{% url 'records:addRecord' %}">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <p><input type="submit" value="Utwórz" /></p>
                </form>


                <script>
                    function map_init_basic(mapa, options) {
                        marker = new L.marker([50.7, 23.28], {
                            draggable: true
                        });
                        mapa.addLayer(marker);
                        mapa.on('click', onMapClick);

                        function onMapClick(e) {
                            console.log(e.latlng.toString());
                            document.getElementById("id_place").value = e.latlng.lat.toFixed(2);
                            mapa.removeLayer(marker);
                            marker = new L.marker(e.latlng, {
                                draggable: true
                            });
                            mapa.addLayer(marker);
                            mapa.panTo(e.latlng);
                        }

                        marker.on('dragend', function(event) {
                            mark = event.target;
                            var position = mark.getLatLng();
                            marker.setLatLng(new L.LatLng(position.lat, position.lng), {
                                draggable: true
                            });
                            mapa.panTo(new L.LatLng(position.lat, position.lng));
                            console.log(position.toString()) //FIXME: nie dziala prawidlowo po pierwszym utworzeniu nowego markera i probie jego dragowania
                        });
                    }
                </script>
                {% leaflet_map "mapa" callback="window.map_init_basic"%}
            </div>
        </div>


        <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

        {{ form.media }}
        <div id="content_footer"></div>
        <div id="footer">
            Copyright &copy; colour_green | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Website templates</a>
        </div>
    </div>
</body>

</html>
