{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/custom.css"  />
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Dragonfly</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Strona glowna</a></li>
        <li><a href="#about">Kartoteka</a></li>
        <li><a href="#contact">Profil</a></li>
        <li><a href="#contact">Pomoc</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <div class="starter-template">
    <h1>Lista ostatnich rekordów:</h1>
    <br>
    {% if records_num == 0 %}
    <p> Brak rekordów w bazie </p>
    {% else %}
<div class="row">
    <table class="table">
        <tr><th>Lp.</th><th>Gatunek</th><th>Data obserwacji</th><th>Autor</th><th>Siedlisko</th><th>Miejscowość</th><th>Liczba os.</th><th>Szczegóły</th></tr>
        {% for record in object_list %}
        <tr><td>{{ forloop.counter }}<td>{{ record.species }}</td><td>{{ record.record_data }}</td><td>{{ record.author.username }}</td><td>{{ record.get_habitat_display }}</td><td>{{ record.place }}</td><td>{{ record.num_individuals }}</td><td><a href=" {% url 'records:viewRecord' pk=record.id %}"><span class="glyphicon glyphicon-list-alt"></span></a><td></tr>
        {% endfor %}
    </table>
</div>
    <p class="lead">Liczba wszystkich rekordów w bazie: {{ records_num }}.</p>
  </div>
{% endif %}
</div><!-- /.container -->
  </body>
</html>
