{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/custom.css"  />
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Dragonfly</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Strona glowna</a></li>
        <li><a href="#about">Kartoteka</a></li>
        <li><a href="#contact">Profil</a></li>
        <li><a href="#contact">Pomoc</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Szczegółowe informacje o rekordzie:</h1>
        <br>
        {% if not record %}
        <p> Brak takiego rekordu w bazie </p>
        {% else %}

        <div class="row">
            <table class="table">
                <tr><th>Gatunek</th><td> {{ record.species }} </td></tr>
                <tr><th>Data obserwacji</th><td> {{ record.record_data }} </td></tr>
                <tr><th>Autor</th><td> {{ record.author.username }} </td></tr>
                <tr><th>Powiat</th><td> {{ record.county }} </td></tr>
                <tr><th>Miejscowość</th><td> {{ record.place }} </td></tr>
                <tr><th>Siedlisko</th><td> {{ record.get_habitat_display }} </td></tr>
                <tr><th>Miejscowość</th><td> {{ record.place }} </td></tr>
                <tr><th>Uwagi</th><td> {{ record.notes }} </td></tr>
                <tr><th>Liczba os.</th><td> {{ record.num_individuals }} </td></tr>
                <tr><th>Liczba os. dorosłych </th><td> {{ record.num_adults }} </td></tr>
                <tr><th>Liczba os. młodych </th><td> {{ record.num_juveniles }} </td></tr>
                <tr><th>Liczba samców.</th><td> {{ record.num_males }} </td></tr>
                <tr><th>Liczba samic </th><td> {{ record.num_females }} </td></tr>
            </table>
        </div>
    </div>
{% endif %}
</div><!-- /.container -->
  </body>
</html>
