<!DOCTYPE HTML>
<html>

<head>
  <title> Dragonfly  </title> <!-- tutaj wstawimy zmienną django zawierającą stałą z nazwą serwisu, aby moc potem w latwy sposob podmieniac nazwe w wersjach wielojezykowych -->
  <meta name="description" content="website description" /> <!-- zmienna django -->
  <meta name="keywords" content="website keywords, website keywords" /> <!-- zmienna django -->
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" /> <!-- zmienna django -->
  <link rel="stylesheet" type="text/css" href="/static/style.css"  />
</head>

<body>
  <div id="main">

      <!-- sekcja naglowkowa -->

    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{% url 'homepage' %">Dragon<span class="logo_colour">fly</span></a></h1>
          <h2>Kartoteka obserwacji przyrodniczych.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="{% url 'homepage'%}">Strona glowna</a></li>
          <li><a href="{% url 'records:homeRecords' %}">Kartoteka</a></li>
          <li><a href="">Ustawienia</a></li>  <!-- link do ustawien profilu uzytkownika -->
            <li><a href="{% url 'admin:index' %}">Panel administratora</a></li>
            <li><a href="{% url 'admin:index' %}">Pomoc</a></li> <!-- zmien docelową stronę -->
        </ul>
      </div>
    </div>

      <!-- {% block main_content %} {% endblock %} -->
      <!-- sekcja glownego contentu -->
    <div id="site_content">

        <!-- sidebar -->

      <div class="sidebar">

        {% if user.is_authenticated %}
          <p><a href="{% url "logout" %}"> Wyloguj </a></p>
          </div>
        {% else %}
          <h1>Zaloguj:</h1>
          <p>
          <form method="post" action="{{ homepage }}">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" class="button" value="Zaloguj">
          </form><br>
          <a href="{% url 'users:createUser' %}">Rejestracja</a>
          </p>
          </div>
        {% endif %}
        <!-- main content -->

      <div id="content">
        <!-- insert the page content here -->
        <h1>Witaj na stronie kartoteki przyrodniczej</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem. Vivamus vehicula dignissim augue et scelerisque. Etiam quam nisi, molestie ac dolor in, tincidunt tincidunt arcu. Praesent sed justo finibus, fringilla velit quis, porta erat. Donec blandit metus ut arcu iaculis iaculis. Cras nec dolor fringilla justo ullamcorper auctor. Aliquam eget pretium velit. Morbi urna justo, pulvinar id lobortis in, aliquet placerat orci.</p>

        <h2>Informacje systemowe:</h2>
        <p>Wartosci zmiennych:</p>
        <ul>
          <li>Obecna data: {{ current_date }}</li>
          <li>Liczba zarejestrowanych uzytkownikow: {{ num_users }}</li>
          <li>Liczba rekordow w bazie: {{ num_records }}</li>
        </ul>
      </div>
    </div>

      <!-- footer -->

    <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; colour_green | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Website templates</a>
    </div>
  </div>

</body>
</html>
