<!DOCTYPE HTML>
<html>

<head>
  <title> Dragonfly  </title> <!-- tutaj wstawimy zmienną django zawierającą stałą z nazwą serwisu, aby moc potem w latwy sposob podmieniac nazwe w wersjach wielojezykowych -->
  <meta name="description" content="website description" /> <!-- zmienna django -->
  <meta name="keywords" content="website keywords, website keywords" /> <!-- zmienna django -->
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" /> <!-- zmienna django -->
  <link rel="stylesheet" type="text/css" href="/static/style.css"  />
</head>

<body>
  <div id="main">

      <!-- sekcja naglowkowa -->

    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{% url 'homepage' %">Dragon<span class="logo_colour">fly</span></a></h1>
          <h2>Kartoteka obserwacji przyrodniczych.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{% url 'homepage'%}">Strona glowna</a></li>
          <li><a href="{% url 'records:homeRecords' %}">Kartoteka</a></li>
          <li><a href="">Ustawienia</a></li>  <!-- link do ustawien profilu uzytkownika -->
            <li><a href="{% url 'admin:index' %}">Panel administratora</a></li>
            <li><a href="{% url 'admin:index' %}">Pomoc</a></li> <!-- zmien docelową stronę -->
        </ul>
    </div>
  </div>
      <!-- {% block main_content %} {% endblock %} -->
      <!-- sekcja glownego contentu -->
    <div id="site_content">
      <div>
        {% if messages %}
            {% for message in messages %}
            <h2 style="text-align:center">{{ message }}</h2>
            {% endfor %}
        {% else %}
        <h1 style="text-align:center">Uzupełnij dane:</h1>
        <div id="register">
        <form method="post" action="{% url "users:createUser" %}" >
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <p><input type="submit" value="Create" /></p>
          </form>
        </div>
        {% endif %}
      </div>
    </div>

      <!-- footer -->

    <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; colour_green | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Website templates</a>
    </div>
  </div>

</body>
</html>
