<html>
<head>
  <style>
    div {
      margin:auto;
      width: 15%;
      border: 3px solid black;
      padding: 20px;
    }
  </style>
</head>

  <body>
    <div>
      <form method="post" action="{% url "users:loginUser" %}" >
              {% csrf_token %}
              <!-- This line inserts a CSRF token. -->
              <table>
                  {{ form.as_table }}
                  <!-- This line displays lines of the form. -->
              </table>
              <p><input type="submit" value="Login" /></p>
      </form>
    </div>
  </body>

</html>
