body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
/*.container {
    margin-bottom: 50px;  powoduje konflikt kontenera menu z konenerem głównej treści
}*/
div #mapa {
    margin-top: 20px;
    margin-bottom: 20px;
}
